.form-password {
    padding-top: 10px;
    font-size: 13px;
    margin-top: 30px;
}

.card-title{ font-weight:300; }

.btn-confirm {
    font-size: 13px;
}

.login-form{ 
    width:320px;
    margin:20px;
    margin: 50px auto;
}

.sign-up{
    text-align:center;
    padding:20px 0 0;
}

.submit-btn{
    margin-top:20px;
}
